<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-upper p-2"> Subscripciones disponibles </h3>
        <div class="row mx-auto g-3" style="width: 800px">
            
            <div class="col">
                <div class="card mx-auto text-center h-100">
                    <h5 class="card-header"> Gratis </h5>
                    <div class="card-body">
                        <h4 class="card-title"> <b> $0 </b>/mes </h4>
                        <p class="card-text"> Prueba gratis por 7 días </p>
                        
                    </div>
                    <div class="card-footer">
                        <h6>Incluye:</h6>
                        <small class="text-body-secondary ">Información de viajes
                            <br> Recomendación de productos
                            <br><br><br><br><br> 
                        </small>
                        <div class="m-2">
                            <a href="/add-subsc?price=0" class="btn btn-success"> Suscribirme </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mx-auto text-center h-100">
                    <h5 class="card-header"> Premium </h5>
                    <div class="card-body">
                        <h4 class="card-title"> <b>$25.000</b>/mes </h4>
                        <p class="card-text"> Paga mes a mes </p>
                        
                    </div>
                    <div class="card-footer">
                        <h6>Incluye:</h6>
                        <small class="text-body-secondary">Información de viajes
                            <br> Recomendación de productos
                            <br> Descuentos en productos
                            <br> Envíos gratis
                            <br><br> <br>    
                        </small>
                                                <div class="m-2">
                            <a href="/add-subsc?price=0" class="btn btn-success"> Suscribirme </a>
                        </div>

                    </div>
                    
                </div>
            </div>

            <div class="col">
                <div class="card mx-auto text-center h-100">
                    <h5 class="card-header"> Gold </h5>
                    <div class="card-body">
                        <h4 class="card-title"> <b> $200.000</b>/año </h4>
                        <p class="card-text"> Plan full anual </p>
                       
                    </div>
                    <div class="card-footer">
                        <h6>Incluye:</h6>
                        <small class="text-body-secondary">Información de viajes
                            <br> Recomendación de productos
                            <br> Descuentos en productos
                            <br> Envíos gratis
                            <br> Información de actividades
                            <br> Asesoria personalizada
                        </small>
                                                <div class="m-2">
                            <a href="/add-subsc?price=0" class="btn btn-success"> Suscribirme </a>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>