<main class="mt-5">
    <div class="container">
        <div class="card border-light mx-auto" style="width:800px;">
            <div class="card-header">
                <img src="/img/dark-logo.png" alt="logo" class="card-img-top mx-auto m-2" style="width: 200px; display:block;">
                <h5 class="text-center">Articulos de trekking</h5>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloribus nesciunt aperiam iure animi odit ut, fugit ipsa voluptate itaque delectus tenetur quidem! Cumque consectetur esse, inventore doloremque iure accusamus!</p>
                <a href="" class="btn btn-primary">Crea tu producto</a>
                <a href="" class="btn btn-primary">Suscribete</a>
            </div>
        </div>
    </div>
</main>