<main class="mt-5">
  <div class="container">
    <div class="card border-light mx-auto" style="width:800px;">

      <div class="card-header">
        <img src="/img/dark-logo.png" alt="logo" class="card-img-top mx-auto m-2" style="width: 200px; display:block;">
        <h5 class="text-center">Articulos para deportes de aventura</h5>
        <p class="text-center fst-italic lh-lg"> Consigue la calidad que necesitas para tus aventuras más grandes
          cuidando el planeta.</p>
      </div>

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/canotaje.jpg" class="d-block w-100" alt="canotaje">
          </div>
          <div class="carousel-item">
            <img src="/img/cycling.jpg" class="d-block w-100" alt="cycling">
          </div>
          <div class="carousel-item">
            <img src="/img/paracaidismo.jpg" class="d-block w-100" alt="paracaidismo">
          </div>
          <div class="carousel-item">
            <img src="/img/rafting.jpg" class="d-block w-100" alt="rafting">
          </div>
          <div class="carousel-item">
            <img src="/img/snowboard.jpg" class="d-block w-100" alt="snowboard">
          </div>
          <div class="carousel-item">
            <img src="/img/surf.jpg" class="d-block w-100" alt="surf">
          </div>
          <div class="carousel-item">
            <img src="/img/trekking.jpg" class="d-block w-100" alt="trekking">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
  </div>
</main>