<div class="container mt-4">
    <img src="/img/dark-logo.png" alt="logo" class="card-img-top mx-auto m-4" style="width: 200px; display:block;">

<div class="card m-2">
  <h5 class="card-header text-center">Misión</h5>
  <div class="card-body">
       <p class="card-text"> En ADVENTURE, nuestra misión es inspirar y equipar a aventureros de todas las edades y habilidades, proporcionando ropa de alta calidad y rendimiento para actividades deportivas al aire libre. Nos comprometemos a diseñar y ofrecer productos que fusionen innovación, durabilidad y confort, permitiendo a nuestros clientes explorar y disfrutar de la naturaleza con total confianza y seguridad. Promovemos un estilo de vida activo y responsable con el medio ambiente, apoyando prácticas sostenibles en todos nuestros procesos y colaborando con organizaciones dedicadas a la conservación de nuestros espacios naturales. </p>
    
  </div>
</div>

<div class="card m-2">
  <h5 class="card-header text-center">Visión</h5>
  <div class="card-body">
       <p class="card-text"> Ser reconocidos como líderes globales en la industria de ropa deportiva para actividades al aire libre, ofreciendo productos innovadores y sostenibles que superen las expectativas de nuestros clientes. Aspiramos a fomentar una comunidad global de aventureros comprometidos con la exploración responsable y la preservación del medio ambiente, contribuyendo a la creación de un mundo donde cada persona se sienta conectada con la naturaleza y empoderada para descubrir su propio potencial a través de la aventura.</p>
    
  </div>
</div>
<div class="card m-2">
  <h5 class="card-header text-center">Historia</h5>
  <div class="card-body">
       <p class="card-text">Hace una década, un grupo de apasionados aventureros se unió con un propósito claro: crear una marca de ropa deportiva que no solo cumpliera con los más altos estándares de calidad y rendimiento, sino que también reflejara su amor por la naturaleza y las actividades al aire libre. Así nació [Nombre de la Empresa].</p>
       <p class="card-text">Desde nuestros humildes comienzos en [Ciudad, País], lanzamos nuestra primera línea de ropa con la visión de ofrecer productos que fueran tanto funcionales como innovadores. Inspirados por las majestuosas montañas, los ríos caudalosos y los intrincados senderos de nuestro entorno, nos dedicamos a diseñar ropa que pudiera soportar las condiciones más extremas y acompañar a nuestros clientes en sus aventuras más desafiantes.</p>
       <p class="card-text">A lo largo de los años, hemos ampliado nuestra gama de productos para incluir equipamiento especializado para trekking, senderismo, rafting, canopy y espeleología. Nuestro compromiso con la calidad nos ha llevado a incorporar tecnologías avanzadas y materiales sostenibles en nuestros procesos de fabricación, garantizando que cada prenda no solo proteja a nuestros clientes, sino que también respete el medio ambiente.</p>
        <p class="card-text">La dedicación y la pasión por la aventura que nos impulsaron desde el principio siguen siendo el corazón de nuestra empresa. Hoy, después de 10 años, [Nombre de la Empresa] no solo es sinónimo de excelencia en ropa deportiva, sino también de una comunidad de aventureros que comparten nuestro compromiso con la exploración responsable y la conservación de la naturaleza.</p>
        <p class="card-text">Nuestro viaje está lejos de haber terminado. Continuamos innovando, aprendiendo y creciendo, con la misma energía y entusiasmo que nos llevó a dar nuestros primeros pasos hace una década. Gracias a la confianza y lealtad de nuestros clientes, miramos hacia el futuro con la convicción de que las mejores aventuras están aún por venir.</p>
  </div>
</div>
</div>
